@model IEnumerable<MapProject.Models.PlannedTripsModel>


    @foreach (var item in Model)
    {
        if (Model.First() == item)
        { }
        else
        {
            @*<hr>*@
        }

        <span class="PlannedTrips">
            
            <div id="imagecentre" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <img id="thumbimgp"  src="data:image;base64,@System.Convert.ToBase64String(item.Picture)">

            </div>
            @Html.DisplayFor(modelItem => item.Name, new { @class = "col-xs-5 col-sm-5 col-md-5 col-lg-5" })
        </span>
    }

