body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#map{
    height:850px;
    /*width:inherit;*/
    margin:15px;
    width:1300px;
    overflow:visible;
}

#right-panel{
    float:left;
    margin: 15px;
    line-height:20px;
    padding-left:0px;
}

#row{
    position:absolute;
    left:0;
    right:0;
    display:inline-block;
    /*float:left;*/
    width:100%;
}

#waypoints{
    width:350px;
    height:140px;
}

.checkbox{
    float:right;
    width:20px;
}

#thumbimg{
    width:  200px;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    float:left;
}


.listItem{
    display: table-row;
    justify-content: space-between;
    width:100px;
}

#text{
    width:500px;
}

#locationlist{
    padding-left:5px;
    padding-top:10px;
    border:1px solid #eeeeee;
    width:515px;
}
hr{
    margin-top:5px;
    margin-bottom:5px;
}